// base
@import "./scrollbar.less";
@import "./mixins.less";
@import "./colors.less";
@import "./vars.less";

/** init
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    height: 100%;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body#app, button, input, select, textarea {
    font-family: @fontFamily;
}

/** Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, .h1 { .font-variant(display-1); }
h2, .h2 { .font-variant(headline); }
h3, .h3 { .font-variant(subhead-1); }
h4, .h4 { .font-variant(body-2); }
h5, .h5 { .font-variant(body-2); }
h6, .h6 { .font-variant(body-1); }

button, .btn { .font-variant(button); }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    small, .small {
        font-size: 50%;
        text-transform: uppercase;
    }
}

h1, .h1,
h2, .h2 {
    font-weight: 400;
    margin: (@line-height-computed * 2) 0 (@line-height-computed * 1.5); // 40px 0 30px
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 500;
    margin: (@line-height-computed * 2) 0 (@line-height-computed); // 40px 0 20px
}

small,
.small {
    .font-variant(caption);
}

mark,
.mark {
    background-color: @yellow-a100;
    padding: @padding-base/2;
}

.center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/** Space area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.make-space(@value:52);
.make-space(@value:24);
.make-space(@value:20);
.make-space(@value:18);
.make-space(@value:16);
.make-space(@value:14);
.make-space(@value:12);
.make-space(@value:10);
.make-space(@value:6);
.make-space(@value:0);

/** Shadow Material Design
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.depth {
    &-0 {
        .depth;
    }
    &-1 {
        .depth(1);
    }
    &-2 {
        .depth(2);
    }
    &-3 {
        .depth(3);
    }
    &-4 {
        .depth(4);
    }
    &-5 {
        .depth(5);
    }
    &-6 {
        .depth(6);
    }
}