// mixins.less

.transition(@d) {
    -webkit-transition-duration: @d;
    transition-duration: @d;
}

.transform(@t) {
    -webkit-transform: @t;
    transform: @t;
}

.transform-origin(@to) {
    -webkit-transform-origin: @to;
    transform-origin: @to;
}

.translate3d(@x: 0, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.animation (@a) {
    -webkit-animation: @a;
    animation: @a;
}

.delay(@d) {
    -webkit-transition-delay: @d;
    transition-delay: @d;
}

.flex-shrink(@fs) {
    -webkit-box-flex: @fs;
    -webkit-flex-shrink: @fs;
    -ms-flex: 0 @fs auto;
    flex-shrink: @fs;
}

.clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.scrollable() {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.no-scrollbar() {
    &::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        -webkit-appearance: none;
        opacity: 0 !important;
    }
}

.user-select() {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Flexbox display

// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
    -webkit-flex: @columns;
        -ms-flex: @columns;
            flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
    -webkit-flex-direction: @direction;
        -ms-flex-direction: @direction;
            flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
    -webkit-flex-wrap: @wrap;
        -ms-flex-wrap: @wrap;
            flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
    -webkit-flex-flow: @flow;
        -ms-flex-flow: @flow;
            flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
    -webkit-order: @order;
        -ms-order: @order;
            order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
    -webkit-flex-grow: @grow;
        -ms-flex-grow: @grow;
            flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
.flex-shrink(@shrink: 1) {
    -webkit-flex-shrink: @shrink;
        -ms-flex-shrink: @shrink;
            flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
    -webkit-flex-basis: @width;
        -ms-flex-basis: @width;
            flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
    -webkit-justify-content: @justify;
        -ms-justify-content: @justify;
            justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
    -webkit-align-content: @align;
        -ms-align-content: @align;
            align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
    -webkit-align-items: @align;
        -ms-align-items: @align;
            align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
    -webkit-align-self: @align;
        -ms-align-self: @align;
            align-self: @align;
}

// Shadow
.depth(@level:0) {
    & when (@level = 0) {
        box-shadow: none !important;
    }
    & when (@level = 1) {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
    }
    & when (@level = 2) {
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
    }
    & when (@level = 3) {
        box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px !important;
    }
    & when (@level = 4) {
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px !important;
    }
    & when (@level = 5) {
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px !important;
    }
    & when (@level = 6) {
        box-shadow: 0px 35px 100px -35px rgba(0, 0, 0, 0.4) !important;
    }
}

// Typography
// Requires inline-block or block for proper styling
.text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.get-font-variables(@name) {
    @font-size: ~"font-size-@{name}";
    @font-weight: ~"font-weight-@{name}";
    @line-height: ~"line-height-@{name}";
    @letter-spacing: ~"letter-spacing-@{name}";
    @font-color: ~"font-color-@{name}";
    @font-color-inverse: ~"font-color-inverse-@{name}";
}

.font-variant(@name) {
    .get-font-variables(@name);

    font-size: (@@font-size)+0px;
    line-height: (@@line-height)+0px;
    font-weight: @@font-weight;
    letter-spacing: (@@letter-spacing/100)+0px;
}

.typography-variant(@name) {
    .get-font-variables(@name);

    .@{name} {
        font-size: (@@font-size)+0px;
        line-height: (@@line-height)+0px;
        font-weight: @@font-weight;
        letter-spacing: (@@letter-spacing/100)+0px;
        color: @@font-color;
    }
}

// Space area
.make-space(@value) {
    .p-@{value}   { padding:        ~"@{value}px"; }
    .pt-@{value}  { padding-top:    ~"@{value}px"; }
    .pl-@{value}  { padding-left:   ~"@{value}px"; }
    .pr-@{value}  { padding-right:  ~"@{value}px"; }
    .pb-@{value}  { padding-bottom: ~"@{value}px"; }
    .m-@{value}   { margin:         ~"@{value}px"; }
    .mt-@{value}  { margin-top:     ~"@{value}px"; }
    .ml-@{value}  { margin-left:    ~"@{value}px"; }
    .mr-@{value}  { margin-right:   ~"@{value}px"; }
    .mb-@{value}  { margin-bottom:  ~"@{value}px"; }
}

// Images
.object-fit(@fit: fill, @position) {
    -o-object-fit: @fit;
    object-fit: @fit;
    -o-object-position: @position;
    object-position: @position;
    font-family: 'object-fit: @{fit}; object-position: @{position}';
}

.object-fit(@fit: fill){
    -o-object-fit: @fit;
    object-fit: @fit;
    font-family: 'object-fit: @{fit}';
}