// scrollbar.less
// Chrome/Opera/Safari

/** scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .08)
}