// var.less

// Basic variables
@prefix: xt;
@padding-base: 8px;

// Base font settings
@fontFamily: 'Roboto', 'Open Sans', sans-serif !important;

@line-height-base: @line-height-body-1; // 20
@line-height-computed: (@line-height-base)+0px; // 20px

// Typography
@font-size-display-4: 112;
@font-size-display-3: 56;
@font-size-display-2: 45;
@font-size-display-1: 34;
@font-size-headline: 24;
@font-size-title: 20;
@font-size-subhead-2: 16;
@font-size-subhead-1: 16;
@font-size-body-2: 14;
@font-size-body-1: 14;
@font-size-menu: 13;
@font-size-caption: 12;
@font-size-button: 14;

@font-weight-display-4: 300;
@font-weight-display-3: 400;
@font-weight-display-2: 400;
@font-weight-display-1: 400;
@font-weight-headline: 400;
@font-weight-title: 500;
@font-weight-subhead-2: 400;
@font-weight-subhead-1: 400;
@font-weight-body-2: 500;
@font-weight-body-1: 400;
@font-weight-menu: 400;
@font-weight-caption: 400;
@font-weight-button: 500;

@line-height-display-4: 128;
@line-height-display-3: 84;
@line-height-display-2: 48;
@line-height-display-1: 40;
@line-height-headline: 32;
@line-height-title: 28;
@line-height-subhead-2: 28;
@line-height-subhead-1: 24;
@line-height-body-2: 24;
@line-height-body-1: 20;
@line-height-menu: 20;
@line-height-caption: 20;
@line-height-button: 20;

@letter-spacing-display-4: -10;
@letter-spacing-display-3: -5;
@letter-spacing-display-2: 0;
@letter-spacing-display-1: 0;
@letter-spacing-headline: 0;
@letter-spacing-title: 5;
@letter-spacing-subhead-2: 10;
@letter-spacing-subhead-1: 10;
@letter-spacing-body-2: 10;
@letter-spacing-body-1: 10;
@letter-spacing-menu: 10;
@letter-spacing-caption: 20;
@letter-spacing-button: 10;

// Basic colors/Color contrast
@font-color-display-4: @lightBlack;
@font-color-display-3: @lightBlack;
@font-color-display-2: @lightBlack;
@font-color-display-1: @lightBlack;
@font-color-headline: @darkBlack;
@font-color-title: @darkBlack;
@font-color-subhead-2: @darkBlack;
@font-color-subhead-1: @darkBlack;
@font-color-body-2: @darkBlack;
@font-color-body-1: @darkBlack;
@font-color-caption: @lightBlack;
@font-color-label: @darkBlack;
@font-color-menu: @darkBlack;
@font-color-button: @darkBlack;

// Inverse colors
@font-color-inverse-display-4: @lightWhite;
@font-color-inverse-display-3: @lightWhite;
@font-color-inverse-display-2: @lightWhite;
@font-color-inverse-display-1: @lightWhite;
@font-color-inverse-headline: @darkWhite;
@font-color-inverse-title: @darkWhite;
@font-color-inverse-subhead-2: @darkWhite;
@font-color-inverse-subhead-1: @darkWhite;
@font-color-inverse-body-2: @darkWhite;
@font-color-inverse-body-1: @darkWhite;
@font-color-inverse-caption: @lightWhite;
@font-color-inverse-label: @darkWhite;
@font-color-inverse-menu: @darkWhite;
@font-color-inverse-button: @darkWhite;

// Animate
@easeOutFunction: all .4s cubic-bezier(0.23, 1, 0.32, 1);
@easeInFunction: all .3s cubic-bezier(0.55, 0, 0.55, 0.2);
@easeInOutFunction: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

@linearFunction: all .08s linear;
@materialEnterFunction: all .3s cubic-bezier(.0, .0, .2, 1);
@materialLeaveFunction: all .3s cubic-bezier(.4, .0, 1, 1);