<div class="container">
    <div class="text-center pt-24">
        <h1>{{ vm.title }}</h1>
        <!-- Button to trigger modal -->
        <a href="#myModal" role="button" class="btn" data-toggle="modal">Iniciar a compra do Anúncio</a>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div ui-view></div>
    </div>
</div>