<div class="header">
    <div class="left">
        <button type="button" class="close hidden">
            <img src="./source-img/voltar.png" alt="Fechar">
        </button>
    </div>
    <div class="center">
        <h3 id="myModalLabel" class="title m-0">Destaque seu Anúncio: Escolha um Plano</h3>
    </div>
    <div class="right">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <img src="./source-img/close.png" alt="Fechar">
        </button>
    </div>
</div>
<form name="stage1">
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6 div-center" style="height: 245px">
                    <p class="money" ng-if="vm.formData.plano == 1">
                        <span class="real">R$</span> 49 <span class="cents">90</span><span class="month">/mês</span>
                    </p>
                    <div ng-if="vm.formData.plano == 2">
                        <p class="money" >
                            <span class="real">R$</span> 29 <span class="cents">90</span><span class="month">/mês</span>
                        </p>
                        <p><span class="description">Total: R$ 89,70 em até 3x</span></p>
                    </div>
                    <p ng-if="vm.formData.plano == 0" class="h2 text">Selecione um Produto</p>
                </div>
                <div class="span6">
                    <div class="frb-group">
                        <div class="frb">
                            <input type="radio" id="radio-button-0" name="radio-button" ng-value="1" ng-model="vm.formData.plano" required>
                            <label for="radio-button-0">
                                <span>Destaque Ouro</span>
                            </label>
                        </div>
                        <div class="frb">
                            <input type="radio" id="radio-button-1" name="radio-button" ng-value="2" ng-model="vm.formData.plano" required>
                            <label for="radio-button-1">
                                <span>Destaque Prata</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid last p-16">
        <div class="span12">
            <div class="span6 text-sm-center">
                <img src="./source-img/siteseguro-soluti.jpg" height="73px" alt="Site Seguro Soluti">
            </div>
            <div class="span6 text-right text-sm-center">
                <button class="btn btn-large btn-warning" ui-sref="home.stage-2" ng-disabled="!stage1.$valid">{{ vm.button }}</button>
            </div>
        </div>
    </div>
</form>