<div class="header">
    <div class="left">
        <button type="button" class="close" ui-sref="home.stage-2">
                <img src="./source-img/voltar.png" alt="Voltar">
            </button>
    </div>
    <div class="center">
        <h3 id="myModalLabel" class="title m-0">Destaque seu Anúncio: Escolha um Plano</h3>
    </div>
    <div class="right">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <img src="./source-img/close.png" alt="Fechar">
            </button>
    </div>
</div>
<div class="modal-body text-center pt-52">
    <img src="./source-img/sucesso.png" alt="Sucesso">
    <p class="h2 text">Parabéns!<br>Pagamento realizado com sucesso!</p>
</div>
<div class="row-fluid div-center p-16">
    <button class="btn btn-large btn-warning" ng-init="result=false" ng-click="result=!result">{{ vm.button }}</button>
</div>
<div ng-show="result" home-directive title="status" class="header"></div>