<div class="header">
    <div class="left">
        <button type="button" class="close" ui-sref="home.stage-1">
            <img src="./source-img/voltar.png" alt="Voltar">
        </button>
    </div>
    <div class="center">
        <h3 id="myModalLabel" class="title m-0">Destaque seu Anúncio: Escolha um Plano</h3>
    </div>
    <div class="right">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <img src="./source-img/close.png" alt="Fechar">
        </button>
    </div>
</div>
<form name="stage2">
    <div class="modal-body">
        <div class="div-center" style="height: 180px">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span6">
                        <input type="text" name="cc" class="input-block-level" maxlength="16" ng-attr-placeholder="{{vm.numberCartaoTXT}}" ng-model="vm.formData.numberCartao" required>
                        <input type="text" class="input-block-level" ng-attr-placeholder="{{vm.nameTXT}}" ng-model="vm.formData.name" required>
                    </div>
                    <div class="span6">
                        <input type="text" class="input-block-level" ng-attr-placeholder="{{vm.numberValTXT}}" ng-model="vm.formData.numberVal" required>
                        <input type="text" class="input-block-level" maxlength="3" ng-attr-placeholder="{{vm.numberSecurityTXT}}" ng-model="vm.formData.numberSecurity" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span7 center text-center">
                <div class="alert alert-error" ng-show="!vm.isResult(stage2.cc.$modelValue)">
                    <button type="button" class="close" data-dismiss="alert">×</button> Cartão inválido. Por favor tente
                    novamente.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid last p-16">
        <div class="span12">
            <div class="span6 text-sm-center">
                <img src="./source-img/siteseguro-soluti.jpg" height="73px" alt="Site Seguro Soluti">
            </div>
            <div class="span6 text-right text-sm-center">
                <button class="btn btn-large btn-warning" ui-sref="home.stage-3" ng-disabled="!stage2.$valid">{{ vm.button }}</button>
            </div>
        </div>
    </div>
</form>