/** scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}
/** init
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  height: 100%;
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body#app,
button,
input,
select,
textarea {
  font-family: 'Roboto', 'Open Sans', sans-serif !important;
}
/** Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
.h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
}
h2,
.h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0px;
}
h3,
.h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
h4,
.h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
h6,
.h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
button,
.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-size: 50%;
  text-transform: uppercase;
}
h1,
.h1,
h2,
.h2 {
  font-weight: 400;
  margin: 40px 0 30px;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
  margin: 40px 0 20px;
}
small,
.small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
mark,
.mark {
  background-color: #ffff8d;
  padding: 4px;
}
.center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/** Space area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.p-52 {
  padding: 52px;
}
.pt-52 {
  padding-top: 52px;
}
.pl-52 {
  padding-left: 52px;
}
.pr-52 {
  padding-right: 52px;
}
.pb-52 {
  padding-bottom: 52px;
}
.m-52 {
  margin: 52px;
}
.mt-52 {
  margin-top: 52px;
}
.ml-52 {
  margin-left: 52px;
}
.mr-52 {
  margin-right: 52px;
}
.mb-52 {
  margin-bottom: 52px;
}
.p-24 {
  padding: 24px;
}
.pt-24 {
  padding-top: 24px;
}
.pl-24 {
  padding-left: 24px;
}
.pr-24 {
  padding-right: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.m-24 {
  margin: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.p-18 {
  padding: 18px;
}
.pt-18 {
  padding-top: 18px;
}
.pl-18 {
  padding-left: 18px;
}
.pr-18 {
  padding-right: 18px;
}
.pb-18 {
  padding-bottom: 18px;
}
.m-18 {
  margin: 18px;
}
.mt-18 {
  margin-top: 18px;
}
.ml-18 {
  margin-left: 18px;
}
.mr-18 {
  margin-right: 18px;
}
.mb-18 {
  margin-bottom: 18px;
}
.p-16 {
  padding: 16px;
}
.pt-16 {
  padding-top: 16px;
}
.pl-16 {
  padding-left: 16px;
}
.pr-16 {
  padding-right: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.m-16 {
  margin: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.p-14 {
  padding: 14px;
}
.pt-14 {
  padding-top: 14px;
}
.pl-14 {
  padding-left: 14px;
}
.pr-14 {
  padding-right: 14px;
}
.pb-14 {
  padding-bottom: 14px;
}
.m-14 {
  margin: 14px;
}
.mt-14 {
  margin-top: 14px;
}
.ml-14 {
  margin-left: 14px;
}
.mr-14 {
  margin-right: 14px;
}
.mb-14 {
  margin-bottom: 14px;
}
.p-12 {
  padding: 12px;
}
.pt-12 {
  padding-top: 12px;
}
.pl-12 {
  padding-left: 12px;
}
.pr-12 {
  padding-right: 12px;
}
.pb-12 {
  padding-bottom: 12px;
}
.m-12 {
  margin: 12px;
}
.mt-12 {
  margin-top: 12px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-6 {
  padding: 6px;
}
.pt-6 {
  padding-top: 6px;
}
.pl-6 {
  padding-left: 6px;
}
.pr-6 {
  padding-right: 6px;
}
.pb-6 {
  padding-bottom: 6px;
}
.m-6 {
  margin: 6px;
}
.mt-6 {
  margin-top: 6px;
}
.ml-6 {
  margin-left: 6px;
}
.mr-6 {
  margin-right: 6px;
}
.mb-6 {
  margin-bottom: 6px;
}
.p-0 {
  padding: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
/** Shadow Material Design
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.depth-0 {
  box-shadow: none !important;
}
.depth-1 {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
}
.depth-2 {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
}
.depth-3 {
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px !important;
}
.depth-4 {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px !important;
}
.depth-5 {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px !important;
}
.depth-6 {
  box-shadow: 0px 35px 100px -35px rgba(0, 0, 0, 0.4) !important;
}
