#app .modal {
    width: 960px;
    max-height: 500px;
    left: 50%;
    margin-left: 0;
    overflow: auto;
    transform: translateX(-50%);
    border-radius: inherit;
}

@media (max-width: 960px) {
    #app .modal {
        width: 99%;
    }
}

#app .modal .header {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    padding: 9px 16px;
    min-height: 60px;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
}

#app .modal .alert.alert-error {
    padding: 8px 14px 8px 35px;
    font-size: 18px;
    font-weight: 300;
    background-color: #F9CFD5;
    color: #38040B;
    border-radius: 0;
}

#app .modal .alert.alert-error .close {
    top: -1px;
    left: -102%;
}

#app .modal .modal-body {
    min-height: 275px;
    max-height: inherit;
}

#app .modal .header:first-child {
    border-bottom: 1px solid #979797;
}

#app .modal .last {
    border-top: 1px solid #979797;
}

#app .modal .header>.left,
#app .modal .header>.right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
}

#app .modal .header>.center {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: normal;
}

#app .modal .header>.left {
    margin-right: 16px;
}

#app .modal .header>.right {
    margin-left: 16px;
}

#app .modal .header .title {
    font-size: 20px;
    white-space: 0;
    line-height: 24px;
    text-align: center;
    color: #394053;
}

#app .modal .div-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

#app .modal .money {
    position: relative;
    display: inline-block;    
    font-weight: 900;
    font-size: 90px;
    color: #394053;
    line-height: 0;
}

#app .modal .real {
    position: absolute;
    top: -25px;
    left: -20px;
    font-size: 20px;
    font-weight: 400;
}

#app .modal .cents {
    position: absolute;
    top: -16px;
    left: 100%;
    font-size: 45px;
}

#app .modal .month {
    position: absolute;
    top: 23px;
    left: 100%;
    font-size: 20px;
    font-weight: 400;
}

#app .modal .description {
    font-size: 18px;
    color: #394053;
    margin: 0;
}

#app .modal .text {
    font-weight: 700;
    color: #394053;
}

#app .modal input {
    border: 2px solid #9B9B9B;
    font-size: 21px;
    padding: 18px 6px;
}

#app .modal input:active,
#app .modal input:focus {
    border-width: 3px;
    box-shadow: none;
}

@media (max-width:767px) {
    #app .text-sm-left {
        text-align: left!important
    }
    #app .text-sm-right {
        text-align: right!important
    }
    #app .text-sm-center {
        text-align: center!important
    }
}