.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label:before {
	font-family: "Ionicons";
	content: '\f3a6';
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 15px;
    font-size: 21px;
    z-index: 100;
}

.frb input[type="radio"]:checked ~ label:before {
	content: '\f3a7';
}

.frb input[type="radio"]:checked ~ label:after {
	position: absolute;
    content: "";
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #19468D;
}

.frb input[type="radio"] ~ label {
	position: relative;
	cursor: pointer;
    width: 100%;
    height: 100px;
	border: 2px solid #979797;
    border-radius: 5px;
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.frb input[type="radio"] ~ label:hover {
    background-color: rgba(25, 70, 141, .20);
    color: #19468D;
    border-color: #19468D;
}

.frb input[type="radio"]:checked ~ label {
    background-color: #19468D;
    border-color: #19468D;
    color: white;
}

.frb input[type="radio"]:empty ~ label span {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    padding-left: 50px;
    line-height: 100px;
	
}